.body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #024242;
}

.form {
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 5px 5px 5px rgba(169, 169, 169, 0.582);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .inputs {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    button{
        margin: 20px;
    }
}