<div class="body">
    <mat-tab-group>
        <mat-tab label="Vehiculos">
            <app-table-vehicle-maquinaria category="vehicle"></app-table-vehicle-maquinaria>
        </mat-tab>
        <mat-tab label="Motos">
            <app-table-vehicle-maquinaria category="moto"></app-table-vehicle-maquinaria>
        </mat-tab>
        <mat-tab label="Tractores">
            <app-table-vehicle-maquinaria category="tractor"></app-table-vehicle-maquinaria>
        </mat-tab>
        <mat-tab label="Implementos">
            <app-table-vehicle-maquinaria category="impl"></app-table-vehicle-maquinaria>
        </mat-tab>
    </mat-tab-group>
</div>