<div class="body">
  <div class="container-imgs">
    <!-- <div class="logo">
      <img src="assets/logo.png">
    </div> -->
  </div>
  <section class="login" @fadeInOut>
    <div class="form">
      <form #form="ngForm" (ngSubmit)="login(form)">
        <p>MeridianOps</p>
        <h2>Ingrese Credenciales</h2>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="ejemplo@email.com" autocomplete="new-text" ngModel name="email">
          <mat-icon matSuffix> email</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="*" autocomplete="new-password" ngModel name="password">
          <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>

        <br>

        <button matFab extended color="warn" [disabled]="buttonLogin">
          Iniciar
          <mat-icon>check_circle_outline</mat-icon>
        </button>
        <br>
      </form>
    </div>
  </section>
</div>